# Configuration for private npm package dependencies
# For more information on using private registries with Edge Functions, see:
# https://supabase.com/docs/guides/functions/import-maps#importing-from-private-registries
i think there is no docker in it like there are only three .npmrc, deno.json, main.py we created